<!DOCTYPE html>
<html xmlns:th"http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<form th:action="@{/form}" method="post">
		<div>
			<label for="username">Username</label>
			<input type="text" name="username" id="username">
		</div>
		<div>
			<label for="password">Password</label>
			<input type="password" name="password" id="password">
		</div>
		<div>
			<label for="email">Email</label>
			<input type="text" name="email" id="email">
			</input>
		</div>
		<div>
			<input type="submit" value="Enviar">
		</div>
		</div>
	</form>
</body>

</html>